@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
}

section {
  padding: 5% 10%;
}

p, a {
  font-family: "Open sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
}

.browse {
  padding: 0px 10%;
  display: flex;
  justify-content: space-between;
  background-color: #f5cb00;
  align-items: center;
  height: 12vh;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.1rem;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.section-happinees-intro {
  margin-bottom: 7.188rem;
}

.happiness-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.happiness-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

.happiness-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.happiness-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.2rem;
  max-width: 500px;
}

.happiness-title h1 {
  line-height: 1;
}

.happiness-paragrapht {
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  max-width: 500px;
  color: black;
  line-height: 1.1;
}

.happiness-buttom a {
  text-decoration: none;
  background-color: #f5cb00;
  color: #000;
  padding: 10px 35px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
}

/* ======== SECCIÓN: HAPPINESS IN NUMBERS ======== */
.section-numbers {
  background-color: #f5cb00;
  /* fondo amarillo */
  position: relative;
  /* referencia para el bloque flotante */
  padding-top: 140px;
  /* da espacio arriba para que se vea el solapamiento */
  padding-bottom: 80px;
}

.numbers-container {
  background-color: #eaeaea;
  /* bloque gris */
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -100px;
  /* hace que el bloque se suba y se superponga a la sección anterior */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
}

/* ======== LADO IZQUIERDO ======== */
.numbers-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.number-title h2 {
  color: #f5cb00;
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 15px;
}

.number-paragrapht p {
  color: #333;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.numbers-link a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

/* ======== LADO DERECHO ======== */
.numbers-right {
  display: flex;
  align-items: center;
}

.number-stats {
  display: flex;
  gap: 40px;
}

.number-img-1 img,
.number-img-2 img {
  width: 150px;
  height: auto;
}

/* ======== SECCIÓN: WE CAN HELP YOU ======== */
.section-help {
  background-color: #f5cb00;
  /* amarillo principal */
}

.help-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 0 60px;
}

.help-text {
  flex: 1;
}

.help-text h2 {
  font-size: 2.5rem;
  color: #000;
  line-height: 1.1;
  margin-bottom: 25px;
}

.help-text p {
  color: #000;
  font-size: 15px;
  line-height: 1.6;
  max-width: 450px;
  margin-bottom: 30px;
}

.help-button {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
}

.help-button:hover {
  background-color: #333;
}

/* Imagen del lado derecho */
.help-image {
  flex: 1;
  text-align: right;
}

.help-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}


.section-happiness-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.stats-container {
  display: flex;
  max-width: 1100px;
  width: 100%;
  background-color: #f2f2f2;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.stats-image img {
  width: 100%;
  height: 100%;
  max-width: 520px;
  border-radius: 4px;
  object-fit: cover;
}

.stats-content {
  padding: 40px;
  flex: 1;
  max-width: 30%;
}

.stats-content h2 {
  color: #f5cb00;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.stats-content p {
  color: #333;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 25px;
}

.btn-read-more {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3px;
  transition: 0.3s ease;
}

.btn-read-more:hover {
  background-color: #333;
}

.stats-chart {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.stats-chart img {
  width: 200px;
  display: block;
}

.section-about-us {
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.about-content {
  max-width: 66%;
}

.about-content h2 {
  color: #f5c400;
  font-size: 2.5rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.about-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
  margin-bottom: 40px;
}

.about-image img {
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
}

.btn-read-more {
  display: inline-block;
  margin-top: 25px;
  background-color: #f5cb00;
  color: #000;
  padding: 12px 24px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s ease;
}

.btn-read-more:hover {
  background-color: #f5cb00;
}

.section-our-team {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  gap: 70px;
  flex-wrap: wrap;
}

.team-image img {
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}

.team-content {
  max-width: 480px;
}

.team-content h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.team-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 25px;
  max-width: 78%;
}

.btn-read-more {
  display: inline-block;
  background-color: #f5cb00;
  color: #000;
  padding: 12px 24px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s ease;
}

.btn-read-more:hover {
  background-color: #e6c200;
}


.method-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
  gap: 50px;
}

.method-content {
  max-width: 442px;
}

.method-content h2 {
  font-size: 4.5rem;
  margin-bottom: 20px;
}

.method-content p {
  color: #444;
  margin-bottom: 25px;
  line-height: 1.6;
}

.btn-yellow {
  background-color: #f5cb00;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.btn-yellow:hover {
  background-color: #f5cb00;
}

.method-image img {
  width: 100%;
  max-width: 520px;
}

.section-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.subscribe-container {
  display: flex;
  max-width: 1000px;
  gap: 70px;
  align-items: flex-start;
}

/* Formulario */
.subscribe-form {
  background-color: #000;
  color: #fff;
  padding: 40px;
  font-family: "Open sans", sans-serif;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px;
  font-size: 14px;
}

.form-note {
  font-size: 12px;
  color: #ccc;
  margin-top: 10px;
}

.subscribe-content h2 {
  font-size: 2.5rem;
  color: #f5cb00;
}

.subscribe-content p {
  margin: 15px 0;
  color: #333;
  line-height: 1.5;
}

.btn-black {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 700;
  transition: background 0.3s;
}

.btn-black:hover {
  background-color: #333;
}

/* ================================
   SECTION: CONTACT
   ================================ */

.section-contact {
  background-color: #f5cb00;
  text-align: center;
}

.contact-container {
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
}

.contact-container h2 {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 10px;
}

.contact-container p {
  color: #222;
  font-size: 16px;
  margin-bottom: 40px;
}

.map-container {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
}

.btn-black {
  font-family: "Open sans", sans-serif;
  background: #000;
  color: #fff;
  padding: 12px 35px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-black:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

/* Footer */
.footer {
  background-color: #000;
  color: #FFD700;
  padding: 40px 60px;
  font-family: Arial, sans-serif;
}

.footer a {
  color: #FFD700;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  font-weight: 700;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.logo img {
  width: 60px;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .social-icons a {
  margin-left: 15px;
}

.footer hr {
  border: 0.5px solid white;
  margin-bottom: 15px;
}

footer img {
  color: #FFD700;
}

@media (max-width: 1279px) {

  .happiness-container {
    justify-content: center;
  }

  .number-stats {
    gap: 0;
    margin-left: 10px;
  }

  .number-img-2 img {
    display: none;
  }

  .stats-content {
    max-width: 100%;
    text-align: center;
  }

  .team-container {
    justify-content: center;
  }

  .team-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-content p {
    text-align: center;
  }

  .method-content {
    max-width: 350px;
  }

  .method-content h2 {
    font-size: 3.5rem;
  }

  .form-row {
    flex-direction: column;
  }
}

@media (max-width: 920px) {
  .number-img-1 img {
    display: none;
  }

  .numbers-left {
    align-items: center;
  }

  .number-title h2, .number-paragrapht p {
    text-align: center;
  }

  .stats-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .stats-container {
    flex-direction: column;
  }

  .stats-chart {
    display: none;
  }

  .method-image {
    display: none;
  }
}

@media (max-width: 768px) {
  .browse {
    flex-direction: column;
    height: auto;
    padding: 20px 10%;
    gap: 15px;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
  }

  section {
    padding: 2.5% 5%;
  }

  .happiness-image img {
    max-width: 100%;
  }

  h1, h2, h3, h4, h5, h6, .number-title h2, .help-text h2, .subscribe-content h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 12px;
  }

  .subscribe-container {
    flex-direction: column;
  }

  .subscribe-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .help-image {
    display: none;
  }

  .number-paragrapht p, .help-text p{
    font-size: 12px;
  }
}

